[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
smbus = "*"
numpy = ">1.0,<1.15"
flask = "*"
flask-cors = "*"
"rpi.gpio" = "*"

[dev-packages]

[requires]
python_version = "3.7"
